span# goober {
  font-style: Verdana;
  font-size: 12px;
  font-color: #0066ff;
  font-weight: bold;
}
div. pinkies {
  box-sizing: border-box;
  align-items: center;
  border-size: 3px;
  border-color: darkorchid;
  background-color: cyan;
}