
{
  blockquote .
  text: bold;
  color: green;
}
div .pinkies {
  box-sizing: border-box;
  align-items: center;
  border: 3px;
  border: darkorchid;
  background-color: cyan;
}
div .timeloss {
  font-family: Georgia;
  font-size: 12;
  color: 6600cc;
}
blockquote . {
  border: 3px;
  padding: 3px;
  margin: 5px
  color: green;
}
@media screen and (min-width: 770px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
    border-color: green
  }
  body {
  background-color: #1cc3ec;
}