h1,h2,h3 {
  color: darkgreen;
  font-family: Helvetica;
  font-weight: bold;
  }
body { 
  background-color: rgb(236, 187, 222);
}
 .mom {
font-size: 18pt;
}
#goober {
font-weight: bold;
font-size: 18pt;
}
.coding {
  font-size: 18pt;
} 
.cat {
  font-size: 18pt;
  }
.dog {
  font-size: 18pt;
}
blockquote {
  font-family: 'Felipa', cursive; 
  color: #0000ff; 
  font-size: 20pt;
  font-weight: bold;
  text-align: center
}
 .pinkies {
  column: float left;
  margin: 12px
  border: 3px;
  border-color: darkorchid; 
}
 .timeloss {
  font-style: Georgia;
  font-size: 18pt;
}
@media screen and (min-width: 300px) {
  .column {
    width: 780px;
    float: left;
    border-top: darkblue;
    padding: 5px;
    border: 3px;
  }